*, 
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 770px;
  height: 100vh;
  margin: 0 auto;
  padding: 90px 16px 16px;
  position: relative;
  outline: 1px solid tomato;
}

.header {
  position: absolute;
  z-index: 10;
  left: 16px;
  right: 16px;
  
  height: 50px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid green;
}

.container-controls {
  cursor: pointer;  
}
.slider {
  position: absolute;
  inset: 16px;
  top: 90px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  outline: 1px solid gold;
}

.slider::-webkit-scrollbar {
  appearance: none;
}

.slider.no-transition {
  scroll-behavior: auto;
}

.slider.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.slider.dragging .section{
  cursor: grab;
  user-select: none;
}

.section {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.section h2 {
  text-align: center;
}

/* ================================================ burger-styles */


.btn {
  display: block;
  position: relative;
  z-index: 6;
  width: 40px;
  height: 35px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

.btn.burger {
  background-color: orange;
}

section.burger-menu {
  position: absolute;
  z-index: 5;
  inset: 0;
  padding: 115px 35px 0;
  background-color: #1A2121;
  transform: translateY(-500%);
  transition: transform .5s ease-in-out;
}

section.burger-menu.shown {
  transform: translateY(0);
}

nav.burger-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.burger-nav > ul a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  background-color: #ccc;
}